body {
	margin: 0;
	font-family: 'Inconsolata', '微軟正黑體';
	padding: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0; /* Removes leftover margin */
}

@media only screen and (max-width: 760px) {
	body {
		padding: 0;
	}
}