$loading_color: rgba(224, 60, 60, 0.9);

$table_bordercolor: #327a81;

$header_bgcolor: rgba(50, 122, 129, 0.9);
$header_color: #FFF;

$row_odd_bgcolor: #edf7f8;
$row_even_bgcolor: #FFF;
$row_color: #2b686e;

$magnifier_size: 20px;